<div class="p-5 bg-light">
    <h1 class="display-4">Node App & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quam facilis, odio, distinctio aspernatur eum tempora, fuga impedit ipsam vero autem esse veritatis dolores ratione repudiandae molestiae enim minus dolorum!</p>
    <a href="https://github.com/juansacok" class="btn btn-primary btn-lg">@juansacok</a><p></p>
</div>