<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Account Login</h1>
            </div>
            <div class="card-body ">
                <form action="">
                    <div class="form-group m-3">
                        <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group m-3">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group d-grid gap-2 m-3">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Sigin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>